<!--
    Matthew Chan (PM), Hannah Fried, Coby Sontag, Jionghao Wu [Team SOS]
    SoftDev1 pd2
    P00 -- Da Art of Storytellin'
    2019-10-28
-->
<!-- Browse Page utilizing base.html Jinja blocks: displays stories not yet contributed to -->

<style>
    input[type=button] {
        border: 2px solid #C7FFDA;
    }

    input[type=submit] {
        background-color: #D9FFF8;
        border: 2px solid #C7FFDA;
    }
</style>
<!-- need to override because submit and button are flopped !-->

{% extends "base.html" %}
{% block title %}
Browse
{% endblock %}

{% block pageTitle %}
Browse Stories
{% endblock %}

{% block content %}
<div class="buttons">
    <form>
        <input type="button" onclick="location.href='/home';" name="sub1" value="Home">
    </form>
    <form>
        <input type="button" onclick="location.href='/login';" name="sub2" value="Logout">
    </form>
    <br><br><br>
</div>

<div class="stories">
    <h2> Stories To Contribute To: </h2>
    <form action="/contribute" , method="GET">
        {% for titles in stories %}
        <div class="storiess" style="display: inline-flex">
            <input type="submit" name="subCoby" value="{{titles}}">
            <br>
            <br><br>
        </div>
        {% endfor %}
    </form>
</div>

{% endblock %}