<!--
    Matthew Chan (PM), Hannah Fried, Coby Sontag, Jionghao Wu [Team SOS]
    SoftDev1 pd2
    P00 -- Da Art of Storytellin'
    2019-10-28
-->
<!-- Browse Page utilizing base.html Jinja blocks: displays stories not yet contributed to -->

{% extends "base.html" %}

{% block title %}
Browse
{% endblock %}

{% block pageTitle %}
    Browse Stories
{% endblock %}

{% block content %}
<style>
  input[type = button] {
    background-color: #D9FFF8;
    font-size: 16px;
    padding: 10px;
    border: 2px solid #C7FFDA;
    border-radius: 12px;
  }

  input[type = button]:hover {
  background-color: white
  }

  input[type = submit] {
    background-color: #E8E1EF;
    font-size: 16px;
    padding: 10px;
    border: 2px solid #DBCBD8;
    border-radius: 10px;
  }

  input[type = submit]:hover {
    background-color: white
  }
</style>
<form>
		<input type = "button" onclick="location.href='/home';" name = "sub1" value = "Home">
</form>
<br>
<form>
		<input type = "button" onclick="location.href='/login';" name = "sub2" value = "Logout">
</form>
<br><br><br>

<H2 style = "color: #2D24B0">
    Stories To Contribute To:
</H2>
<form action = "/contribute", method = "GET">
    {% for titles in stories %}
    <div class = "story">
    <li>
        <input type = "submit" name="subCoby" value = "{{titles}}">
        <br>
    </li>
    </div>
    {% endfor %}
</form>

{% endblock %}
