<!--
    Matthew Chan (PM), Hannah Fried, Coby Sontag, Jionghao Wu [Team SOS]
    SoftDev1 pd2
    P00 -- Da Art of Storytellin'
    2019-10-28
-->
<!-- Contribute Page utilizing base.html Jinja blocks: allows users to add to stories -->

{% extends "base.html" %}

{% block title %}
    Contribute
{% endblock %}

{% block pageTitle %}
    {{title}}
{% endblock %}

{% block content %}
<style>
  input[type = submit] {
    background-color: #D9FFF8;
    font-size: 16px;
    padding: 10px;
    border: 2px solid #C7FFDA;
    border-radius: 12px;
  }
  input[type = submit]:hover {
  background-color: white
  }
</style>
<H2>
    <div class = "title" style = "color: #2D24B0"> Latest update: </div> "{{latest}}"
</H2>
<br>

<form action = "/contribute/add", method = "POST">
    <H2>
        Content:
    </H2>
    <input type="hidden" name="title" value="{{title}}">
    <textarea rows="10" cols="50" maxlength = "300" name = "text"></textarea><br>
    Text Limit: 300 characters<br><br>
    <input type = "submit" name = "sub1" value = "Submit"><br>
</form>
<br><br>
<form action ="/browse">
    <input type = "submit" name = "sub2" value = "Cancel"><br>
</form>

{% endblock %}
