<!--
    Matthew Chan (PM), Hannah Fried, Coby Sontag, Jionghao Wu [Team SOS]
    SoftDev1 pd2
    P00 -- Da Art of Storytellin'
    2019-10-28
-->
<!-- Home Page utilizing base.html Jinja blocks: displays stories contributed to -->

{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block pageTitle %}
    Home Page/Story Viewer
{% endblock %}

{% block content %}
<style>
  input[type = submit] {
    background-color: #D9FFF8;
    font-size: 16px;
    padding: 10px;
    border: 2px solid #C7FFDA;
    border-radius: 12px;
  }
  input[type = submit]:hover {
  background-color: white
  }
</style>
<H2>
    Welcome <b>{{user}}</b>!
</H2>

<div class = "message" style = "color: #ED534F; font-weight: bold;">
{% set msgs = get_flashed_messages() %}
{% for msg in msgs %}
<i>
    {{ msg }}
</i>
{% endfor %}
</div>
<br>

<form action="/login", method = "GET">
	<input type="submit" name="sub1" value="Logout" > <br>
</form>
<br>
<form action="/create", method = "GET">
	<input type="submit" name="sub2" value="Create a New Story" > <br>
</form>
<br>
<form action="/browse", method = "GET">
	<input type="submit" name="sub3" value="Browse Stories" > <br>
</form>
<br><br><br>

<H2 style = "color: #2D24B0">
    Stories You Have Contributed To:
</H2>
<hr noshade size = "3px;">
{% for title, story in stories.items() %}
  <div class = "story-block" style = "background-color: #82CAFF; width: 1000px; border-radius: 12px;">
    <H3 style = "height: 10px;">
        {{title}}
    </H3>
    <div class = "story" style = "background-color: #EBF4FA;">
    <p>
        {{story}}
    </p>
    <br>
    </div>
  </div>
{% endfor %}


{% endblock %}
